{% extends "layouts/base.html" %}

{% block title %} Tennis Club - Home {% endblock title %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<br>
<br>
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/static/img/about.jpg" alt="..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <br>
                                <br>
                                <h2 class="section-heading mb-4">
                                    <br>
                                    <br>
                                    <span class="section-heading-upper">Tennis Club</span>
                                    <span class="section-heading-lower">About Our Cafe</span>
                                </h2>
                                <p>Founded in 2023 by Siqi Yu, XiyinDeng, Meng Jiang and Haoguo Cheng. Our company is committed to providing users with a tennis communication platform.</p>
                                <p class="mb-0">
                                    We guarantee that you will fall in
                                    <em>lust</em>
                                    with our decadent blends the moment you walk inside until you finish your last sip. Join us for your daily routine, an outing with friends, or simply just to enjoy some alone time.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}
