{% extends 'layouts/base.html'%}
{% block title%}Win/Loss Count{% endblock title %}
{%block content%}
<script src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<script src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.candy.js"></script>
<script>
    var data = JSON.parse({{q2chartData | tojson | safe}})
    const dataSource = {
        chart: {
          caption: "You win/loss counts",
          yaxisname: "Count",
          xaxisname: "Win or Loss",
          aligncaptionwithcanvas: "0",
          plottooltext: "<b>$dataValue</b> leads received",
          theme: "candy"
        },
        data: [
        { "label": "Win", "Value": data[0].value },
        { "label": "Lose", "Value": data[1].value },]
    };
      
      FusionCharts.ready(function() {
        var myChart = new FusionCharts({
          type: "column3d",
          renderAt: "chart-container",
          width: "80%",
          height: "400",
          dataFormat: "json",
          dataSource
        }).render();
      });

</script>
<main id="main">

  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Challenge</li>
      </ol>
      <h2>Challenge</h2>
    </div>
  </section><!-- End Breadcrumbs -->
  <br>
  <br>
  <br>
  <section class="inner-page">
    <div class="container">
      <div class="container">
        <nav id="navbar" class="navbar bg-light">
          <ul>
            <li><a class="nav-link scrollto" href={{url_for('create')}}>create a new challenge</a></li>
            <li><a class="nav-link scrollto" href={{url_for('address')}}>address challenge</a></li>
            <li><a class="nav-link scrollto active" href={{url_for('graph')}}>Check your win percentage</a></li>
          </ul>
        </nav>
      </div>
      <br>
      <div id="chart-container" style="text-align: center;"></div>
      <h3>
    
      {% with messages = get_flashed_messages() %}
        <ul>
        {% for message in messages %}
          <li>{{message}}</li>
        {% endfor %}
        </ul>
      {% endwith %}
    </div>
  </section>
</main>
<br>
<br>
{%endblock content%}