{% extends 'layouts/base.html'%}
{% block title%}address challenge{% endblock title %}
{%block content%}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Challenge</li>
      </ol>
      <h2>Challenge</h2>

    </div>
  </section><!-- End Breadcrumbs -->
  <br>
  <br>
  <br>

  <section class="inner-page">
    <div class="container">
       <h5> Good {{ greeting }}! {{session['meid']}}. Here you are able to deal with your challenge information.</h5> 
      {% with messages = get_flashed_messages() %}
        <ul>
        {% for message in messages %}
          <li>{{message}}</li>
        {% endfor %}
        </ul>
      {% endwith %}
    </div>
  </section>
  <br>
  <br>
  <br>
  <section class="inner-page">
    <div class="container">
        <div class="btn-group">
            <a href={{url_for('create')}} class="btn btn-primary active" aria-current="page">create a new challenge</a>
            <a href={{url_for('address')}} class="btn btn-primary">address challenge</a>
            <a href={{url_for('graph')}} class="btn btn-primary">Check your win percentage</a>
        </div>
        
    </div>
  </section>

</main><!-- End #main -->
<br>
<br>
<br>
<br>
<br>
<br>

{%endblock content%}