{% extends 'layouts/base.html'%}
{% block title%}challenge_info{% endblock title %}
{%block content%}
<main id="main">
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Challenge</li>
      </ol>
      <h2>Challenge</h2>

      <nav id="navbar" class="navbar bg-light">
        <ul>
          <li><a class="nav-link scrollto active" href={{url_for('create')}}>create a new challenge</a></li>
          <li><a class="nav-link scrollto" href={{url_for('address')}}>address challenge</a></li>
          <li><a class="nav-link scrollto" href={{url_for('graph')}}>Check your win percentage</a></li>
        </ul>
      </nav>
      <br>
      <h3>you create a new challenge, here is the information:</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">CID</th>
            <th scope="col">Your MEID(challengerID)</th>
            <th scope="col">Challenged ID</th>
            <th scope="col">Challenge Dste</th>
            <th scope="col">Note</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{challenge.CID}}</td>
            <td>{{challenge.ChallengerMEID}}</td>
            <td>{{challenge.ChallengedMEID}}</td>
            <td>{{challenge.DateOfChallende}}</td>
            <td>{{challenge.Notes}}</td>
          </tr>
        </tbody>
      </table>
      {% with messages = get_flashed_messages() %}
        <ul>
        {% for message in messages %}
          <li>{{message}}</li>
        {% endfor %}
        </ul>
      {% endwith %}

    </div>
  </section><!-- End Breadcrumbs -->
  <br>
  <br>
  <br>

</main><!-- End #main -->


{%endblock content%}