{% extends 'layouts/base.html'%}
{% block title%}address challenge{% endblock title %}
{%block content%}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Membership</li>
      </ol>
      <h2>Membership</h2>
      <br>
      <nav id="navbar" class="navbar bg-light">
        <ul>
          <li><a class="nav-link scrollto active" href={{url_for('MSsearch')}}>MembershipSearch</a></li>
          <li><a class="nav-link scrollto" href={{url_for('MScreate')}}>MembershipCreate</a></li>
          <li><a class="nav-link scrollto" href={{url_for("membership_chart",year=2023)}}>graph</a></li>
        </ul>
      </nav>
      <br>
      <br>
      <br>
  
      <h3> Good {{ greeting }}! {{session['meid']}}. Here you are able to deal with your challenge information.</h3> 
      {% with messages = get_flashed_messages() %}
        <ul>
        {% for message in messages %}
          <li>{{message}}</li>
        {% endfor %}
        </ul>
      {% endwith %}

    </div>
  </section><!-- End Breadcrumbs -->
  <br>
  <br>
  <br>
</main><!-- End #main -->
<br>
<br>
<br>
<br>
<br>
<br>

{%endblock content%}