
{% extends "layouts/base.html" %}

{% block title %}Invoice Display{% endblock title %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Membership Chart</title>
    <script src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <script>
        FusionCharts.ready(function () {
            var chartConfig = {
                type: "pie2d",
                renderAt: "chart-container",
                width: "600",
                height: "400",
                dataFormat: "json",
                dataSource: {{ chart_data|safe }}
            };

            var chart = new FusionCharts(chartConfig);
            chart.render();
        });
    </script>
</head>
<body>
  <br>
  <br>
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Membership</li>
      </ol>
      <h2>Membership</h2>
      <br>
      <br>
      <nav id="navbar" class="navbar bg-light">
        <ul>
          <li><a class="nav-link scrollto active" href={{url_for('MSsearch')}}>MembershipSearch</a></li>
          <li><a class="nav-link scrollto" href={{url_for('MScreate')}}>MembershipCreate</a></li>
          <li><a class="nav-link scrollto" href={{url_for("membership_chart",year=2023)}}>graph</a></li>
        </ul>
      </nav>
      <br>

       <div id="chart-container" style="text-align: center;"></div>

      <!--jinjia-->
      {%with messages = get_flashed_messages()%}
      {% if messages %}
      <ul>
        {%for message in messages%}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
      {%endif%}
    {%endwith%}

    </div>
  </section>
              
  

</body>
</html>
{% endblock content %}
