{% extends 'layouts/base.html'%}
{% block title%}Charts{% endblock title %}
{%block content%}
<script src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<script src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.candy.js"></script>
<script>
    var data = JSON.parse({{chartData | tojson | safe}})
    const dataSource = {
        chart: {
          caption: "UTR",
          yaxisname: "Number of Members",
          xaxisname: "UTR",
          aligncaptionwithcanvas: "0",
          plottooltext: "<b>$dataValue</b> leads received",
          theme: "candy"
        },
        data: [
        { "label": "2", "Value": data[0].value },
        { "label": "3", "Value": data[1].value },
        { "label": "4", "Value": data[2].value },

        ]
    };
    console.log(data)
      
      FusionCharts.ready(function() {
        var myChart = new FusionCharts({
          type: "column3d",
          renderAt: "chart-container",
          width: "80%",
          height: "400",
          dataFormat: "json",
          dataSource
        }).render();
      });

      

</script>
<main id="main">
  <section class="inner-page">
    <div class="container">
      <br>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Login Page</li>
      </ol>
      <h2>Login Page</h2>
      <br>
      
      <nav id="navbar" class="navbar bg-light">
        <ul>
          <li><a class="nav-link scrollto" href={{url_for('q1register')}}>Register</a></li>
          {%if not session.get('meid'):%}
          <li><a class="nav-link scrollto" href={{url_for('q1login')}}>Log in</a></li>
        {%else:%}
          <li><a class="nav-link scrollto" href={{url_for('q1logout')}}>Log out</a></li>
        {%endif%}
          <li><a class="nav-link scrollto active" href={{url_for('q1modify')}}>Modify your information</a></li>
          <li><a class="nav-link scrollto" href={{url_for('q1delete')}}>Delete your information</a></li>
          <li class="dropdown"><a href="#"><span>Charts</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="nav-link scrollto" href={{url_for('q1chart1')}}>visualize club members by Age and Gender</a></li>
              <li><a class="nav-link scrollto active" href={{url_for('q1chart3')}}>visualize club members by UTR</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <br>
      <br>
        <div id="chart-container" style="text-align: center;"></div>
      {% with messages = get_flashed_messages() %}
        <ul>
        {% for message in messages %}
          <li>{{message}}</li>
        {% endfor %}
        </ul>
      {% endwith %}
    </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</main>
{%endblock content%}