{% extends "layouts/base.html" %}
{% block title %} Delete your Match ID {% endblock title %} 

{% block content %}
<main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Match</li>
        </ol>
        <h2>Match</h2>
        <nav id="navbar" class="navbar bg-light">
          <ul>
            <li><a class="nav-link scrollto" href={{url_for('q3MAID')}}>Create/Modify a match</a></li>
            {% if session.get('is_admin')=='YES' %}
            <li><a class="nav-link scrollto" href={{url_for('q3MAIDdelete')}}>Delete a match</a></li>
            {%endif%}
            <li><a class="nav-link scrollto" href={{url_for('q3MAIDsearch')}}>Search a match</a></li>
            {% if session.get('is_admin')=='YES' %}
            <li><a class="nav-link scrollto" href={{url_for('q3player')}}>See a data graph</a></li>
            {%endif%}
          </ul>
        </nav>
      </div>
    </section>
    <section class="inner-page">
        <div class="container">
            <br>

            {% with messages = get_flashed_messages() %}
                <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endwith %}
            <br>
            <form method="post" action="{{url_for('q3deleteMAIDSubmit')}}">
                <div class="row mb-3">
                  <label for="deleteMAID" class="col-sm-2 col-form-label">Delete a Match ID:</label>
                  <div class="col-sm-10">
                    <select class="form-control" id="q3dmaid" name="q3dmaid">
                      <option></option>
                        {% for maid in q3allmaid %}
                          <option values="{{maid.MAID}}">{{maid.MAID}}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
                {% include 'modal.html' %}
            </form>

        </div>
    </section>

</main><!-- End #main -->
{% endblock content %}