{% extends "layouts/base.html" %}
{% block title %} Search your MEID {% endblock title %} 

{% block content %}
<script src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<script src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.candy.js"></script>
<script>
    var data = JSON.parse({{ q3chartData | tojson | safe }});

    const dataSource = {
        chart: {
          caption: "You win/lose count",
          yaxisname: "Number of match",
          xasisname: "Win or Lose",
          aligncaptionwithcanvas: "0",
          plottooltext: "<b>$dataValue</b> leads received",
          theme: "candy"
        },
        data:[
        { "label": "Win", "Value": data[0].value },
        { "label": "Lose", "Value": data[1].value },]
      };
      console.log(data)
      FusionCharts.ready(function() {
        var myChart = new FusionCharts({
          type: "column3d",
          renderAt: "chart-container",
          width: "80%",
          height: "400",
          dataFormat: "json",
          dataSource
        }).render();
      });
      
</script>

<main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Match</li>
        </ol>
        <h2>Match</h2>
        <nav id="navbar" class="navbar bg-light">
          <ul>
            <li><a class="nav-link scrollto" href={{url_for('q3MAID')}}>Create/Modify a match</a></li>
            <li><a class="nav-link scrollto" href={{url_for('q3MAIDdelete')}}>Delete a match</a></li>
            <li><a class="nav-link scrollto" href={{url_for('q3MAIDsearch')}}>Search a match</a></li>
            <li><a class="nav-link scrollto" href={{url_for('q3player')}}>See a data graph</a></li>
          </ul>
        </nav>
      </div>
    </section>
    <section class="inner-page">
      <div class="container">
        <br>
        <br>
        <br>
        <br>
        <div id="chart-container"  style="text-align: center;"></div>
        {%with messages = get_flashed_messages()%}
        {% if messages %}
        <ul>
          {%for message in messages%}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
        {%endif%}
      {%endwith%}
        <br>
        <br>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock content %}