{%extends "layouts/base.html"%}

{% block title %}Membership Search{% endblock title %} 


{% block content %}
<main id="main">
    <br>
    <br>
    <br>
    <br>
    <br>
          <!--jinjia-->
          {%with messages = get_flashed_messages()%}
            {% if messages %}
            <ul>
              {%for message in messages%}
              <li>{{message}}</li>
              {% endfor %}
            </ul>
            {%endif%}
          {%endwith%}

        </div>
      </section>
 


  </main><!-- End #main -->
{% endblock content %}